/* Global */
body {
    font-size: 18px;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Section */
.header__nav {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header__list {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
}

.header__list-item {
    display: inline-block;
    margin-left: 31px;
    margin-right: 31px;
}

.header__list-item:last-child {
    display: inline-block;
    margin-left: 31px;
    margin-right: 0;
}

.header__list-item:first-child {
    display: inline-block;
    margin-left: 0;
    margin-right: 31px;
}

.header__list-item {
    display: inline-block;
    margin-left: 31px;
    margin-right: 31px;
}

.header__link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: #000000;
}

/* Main Section */

/* Main Illustration */
.content__illustration-container {
    background-color: #00BDC9;
    padding-top: 92px;
    padding-bottom: 92px;
    text-align: center;
}

.content__illustration {
    display: inline-block;
    margin: 0 auto;
}

/* Main Paragraph */

.content__section {
    padding-top: 88px;
    padding-bottom: 88px;
    width: calc(856px);
    max-width: 1100px;
    margin: 0 auto;
}

.content__title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 135%;
}

.content__text {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content__paragraph {
    font-size: 21px;
    color: #161616;
    line-height: 135%;
}

.content__paragraph--highlight {
    color: #04959E;
    font-weight: 600;
}

.content__list {
    margin-top: 24px;
    list-style: decimal;
    margin-left: 1em;
    color: #161616;
    line-height: 135%;
}

/* Main Button */
.content__button-container {
    text-align: center;
}

.content__button {
    background-color: #04959E;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 24px 10px 24px;
    animation: none;
    border: none;
    cursor: pointer;
}

/* Footer */
.footer {
    margin-top: auto;
    border-top: 1px solid #161616;
    text-align: center;
    padding: 16px 0;
}

.footer__text {
    line-height: 150%;
}